.mainImage
    grid-column: span 4

.bannerOne
    position: relative
    .mainName
        position: absolute
        z-index: 90
        color: white
        top: 10
        left: 50px
        font-size: 25px
    .btnBanner
        z-index: 90
        position: absolute
        bottom: 20%
        left: 50px
    .centerMain
        position: absolute
        z-index: 90
        color: white
        top: 10%
        text-align: center
        width: 100%
        .details
            padding:0 20%
            h2
                font-size:35px !important


.collection
    display: flex
    justify-content: space-between
    position: relative
    .fontCollection
        font-size: 40px
        margin: 0
        padding: 0
    .center
        position: absolute
        top: 20%
        right: 0

.headCollet
    grid-column: span 12

.bodyCollet
    grid-column: span 12

.keyword
    white-space: nowrap
    display: inline-block
    background: #22222d
    border-radius: 5px
    padding: 2px 15px
    margin-right: 5px
    margin-bottom: 5px

.mobileMain
    grid-column: span 2

@media only screen and (max-width: 768px)
    .mobileMain
        grid-column: span 6
    .headCollet
        order: 2

    .bodyCollet
        order: 1
    .mainImage
        grid-column: span 12
    .bannerOne
        display: none
    .collection
        display: flex
        justify-content: center
        position: relative
        .fontCollection
            display: none
            font-size: 40px
            margin: 0
            padding: 0
        .center
            position: relative
            right: 0
