.mainImage
    grid-column: span 4 

.bannerOne
    position: relative
    .mainName
        position: absolute
        z-index: 90
        color: white
        top: 10
        left: 50px
        font-family: 'Fredoka One', cursive !important
        font-size: 25px
    .btnBanner
        z-index: 90
        position: absolute
        font-family: 'Fredoka One', cursive !important
        bottom: 20%
        left: 50px

.collection
    display: flex
    justify-content: space-between
    position: relative
    .fontCollection
        font-size: 40px
        margin: 0
        padding: 0
    .center
        position: absolute
        top: 20%
        right: 0
    
@media only screen and (max-width: 768px)
    .mainImage
        grid-column: span 12
    .bannerOne
        display: none