.main
    max-width: 1200px
    margin: auto

.uploadBTN
    display: none

.images
    grid-column: span 4

.detail
    grid-column: span 8
    width: 97%


.spaceBTW
    display: flex
    justify-content: space-between	

.inBTW
    margin-top:-10px

.uploadImage
    margin-top:10px