.header
    display: flex
    justify-content: space-between
    margin-bottom: 35px

.nameProfile
    margin-left: 15px

.profile
    display: inline-flex

.nameWall
    padding: 0
    margin: 0

.uploadBy
    color: #464545

.rightDetail
    margin-top: 1%

.tags
    background: #222
    color: white
    padding: 5px 10px
    margin-right: 5px
    display: inline-block
    border-radius: 5px

.boxComment
    background: white
    width: auto
    padding: 15px
    border-radius: 5px

.textarea
    font-family: 'Fredoka One', cursive !important
    padding: 15px
    border-radius: 5px
    width: 97.5%
    border: none
    background: #202020
    color: white
    outline: none

.leaveComment
    font-family: 'Fredoka One', cursive !important
    padding: 10px 15px
    border-radius: 5px
    margin-top: 5px
    float: right
    border: none
    color: white
    background: #202020


@media only screen and  (max-width: 768px)
    .header
        display: block
        margin-bottom: 35px
    .rightDetail
        display: none